
.paginator {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}