.userPhoto {
  width: 100px;
  height: 100px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  text-align: center;
  border: 2px solid black;
}

.selectedPage {
  font-weight: bold;
}