*{
  box-sizing: border-box;
}
.App{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "hh hh"
          "nn cc";

  grid-gap: 10px;
}
.wrapper-content{
  grid-area: cc;
  background-color: blueviolet;
}


