.nav{
  grid-area: nn;
  background-color: bisque;
  text-align: center;
  align-items: center;
}
.item{
  padding: 5px;
  a {
    text-decoration: none;
    line-height: 30px;
  }
}
.active{
  font-size: 25px;
  color: red;
}